@import "reset.css";
@import "layout.css";
@import "module.css";

* {
  box-sizing: border-box;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1));
  
}


.grid-item-a {
  background: #ccc;
    border: 1px solid #111;
    height: 75px;
    margin: 3em 3em auto;
    text-align: center;
}
/* // top right bottom left */
.grid-item-b {
  background: #ccc;
  border: 1px solid #111;
  height: 75px;
  margin: 0em 3em;
  text-align: center;
}

.grid-item-c {
  background: #ccc;
  border: 1px solid #111;
  height: 75px;
  margin: 0em 3em;
  text-align: center;
}

.grid-item-d {
  background: #ccc;
  border: 1px solid #111;
  height: 75px;
  margin: 0em 3em;
  text-align: center;
}

/* 240x250 */

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(240px, auto);
  /* align-content: stretch; */
  /* grid-template-columns: 240px 240px;
  grid-template-rows: 250px 250px; */
  /* grid-auto-flow: column; */
  background: #ccc;
  /* border: 1px solid #111; */
  /* height: 250px; */
  margin: 0em 3em;
  text-align: center;
}


.grid-item-e-f {
  border: 1px solid #111;

}

.grid-item-g-h {
  border: 1px solid #111;
}


/*480x80*/
.grid-item-i {
  background: #ccc;
  border: 1px solid #111;
  height: 80px;
  margin: auto 3em 3em;
  text-align: center;
}